/* INDEX.html */

body{
    margin: 0px;
}
.part1{
    background-color: #393646;
    width: 100%;
}
.heading{
    display: flex;
    background-color: #393646;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
 h1{
    margin: 50px 0px;
    font-size: 3rem; 
    color: #F4EEE0;
}

h2{
    margin-bottom: 20px;
    color: #F4EEE0;
}

h3{
    color: #393646;
    margin-top: 0%;
    margin-bottom: 0%;
}

.navbar{
    display: flex;
    background-color: #4F4557;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
}

.a{
    color: #F4EEE0;
    background-color: #6D5D6E;
}

hr{
    margin: 0px;
}

/* Summary */

.summary{
    background-color: #F4EEE0;
}

.summary-heading{
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.img{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

img{
    border-radius: 20px;
    height: 250px;
    margin-left: 30;
}

.summary-text{
    display: flex;
    justify-content: center;
    color: #393646;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Education */

#education{
    background-color: #F4EEE0;
}

.education-heading{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.education-text{
    display: flex;
    justify-content: center;
    color: #393646;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Work Experience */

#work-experience{
    background-color: #F4EEE0;
}

.work-ex-heading{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.work-ex-text{
    display: flex;
    justify-content: center;
    color: #393646;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Skills */

#skills{
    background-color: #F4EEE0;
}

.skills-heading{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.skills-text{
    display: flex;
    justify-content: center;
    color: #393646;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* footer */

#footer{
    background-color: #4F4557;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color:#F4EEE0;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}

.a-footer{
    text-decoration: none;
    color: #F4EEE0;
}